 
<CascadingAuthenticationState>
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity.IsAuthenticated)
                    {
                        <p>You are not authorized to view this page.</p>
                    }
                    else
                    {
                        <p>You are not logged in. Redirecting to login...</p>
                        <RedirectorToHomePage />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <h3>Page Not Found</h3>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
